@use '@carbon/colors' as *;
@use '@carbon/layout' as *;

.MathJax {
  text-align: left !important;
}

:root {
  --traffic-light-green: #{$teal-50};
  --traffic-light-yellow: #{$yellow-30};
  --traffic-light-red: #{$magenta-60};
}

// $spacing: (spacing-XX: $spacing-XX, …)
@each $name, $value in $spacing {
  $two-digits: str-slice($name, -2, -1); // spacing-XX => XX
  .mb-#{$two-digits} {
    margin-bottom: $value;
  }
}
