@use 'carbon-components/scss/globals/scss/vendor/@carbon/colors/scss/mixins' as *;
@use 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/layout/generated/layout' as *;

.MathJax {
  text-align: left !important;
}

:root {
  --traffic-light-green: #{$teal-50};
  --traffic-light-yellow: #{$yellow-30};
  --traffic-light-red: #{$magenta-60};
}

@for $i from 1 through length($carbon--layout) {
  .mb-#{$i} {
    margin-bottom: nth($carbon--layout, $i);
  }
}
